.container-visitas {
  .visitas {
    .txt-pendente {
      font: 400 15px "Rubik";
      display: flex;
      align-items: center;
      gap: 5px;

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #ff9d00;
        display: block;
        border-radius: 50%;
      }
    }
  }
}
