.container-visitas {
  .visitas {
    .txt-pendente {
      font: 400 15px "Rubik";
      display: flex;
      align-items: center;
      gap: 0.3rem;

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #ff9d00;
        display: block;
        border-radius: 50%;
      }
    }
  }
}

// Desktops grandes
@media (max-width: 1200px) {
  .container-visitas {
    max-width: 100%;
    .visitas {
      .txt-pendente {
        &::before {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

// Tablets e dispositivos menores
@media (max-width: 768px) {
  .container-visitas {
    .visitas {
      .txt-pendente {
        &::before {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

// Smartphones
@media (max-width: 480px) {
  .container-visitas {
    display: flex;
    flex-direction: column;

    .visitas {
      .txt-pendente {
        &::before {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

// iPhone 5 e dispositivos similares
@media (max-width: 320px) {
  .container-visitas {
    .visitas {
      .txt-pendente {
        &::before {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}
