.container-modais {
  display: flex;
  gap: 10px;
}

.modal.orcamento {
  .content-modal {
    form {
      display: flex;
      gap: 25px;

      .container-esquerdo {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 10px;

        span {
          font-size: 13px;
        }
      }

      textarea {
        min-height: 180px;
        resize: none;
        background-color: transparent;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #333;
        outline: none;

        font: 400 14px "Rubik";
      }

      .container-inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
          background-color: transparent;
          border: 1px solid #333;
          outline: none;
          padding: 10px;
          border-radius: 5px;
          font: 400 15px "Rubik";
        }

        .btn-adicionar {
          background-color: #80ed99;
          border: none;
          // border-radius: 5px;
          padding: 10px;

          color: black;
          font-family: "Rubik";
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}

.modal.servicos {
  overflow-y: auto;

  .content-servicos {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .servico-item {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .nome-servico {
        background-color: #161618;
        padding: 5px;
        border-radius: 5px;
        // cursor: pointer;
        // font-size: 14px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon-servico {
          cursor: pointer;
        }
      }

      span.servico-preco {
        background-color: #161618;
        border-radius: 5px;
        padding: 5px;
        opacity: 0.8;
        font-size: 14px;
      }
    }
  }
}

.modal.servicos {
  min-width: auto !important;
}
