main {
  background-color: #f8f9fa;
  min-height: 100dvh;

  color: black;

  .info-admin {
    padding: 2% 5%;

    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;

    .admin {
      font: 500 16px "Montserrat";

      text-transform: uppercase;
    }

    .admin-img {
      font-size: 20px;
    }
  }

  .cabecalho-visita {
    padding: 2% 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .titulo-visita {
      text-transform: uppercase;
      font-family: "Montserrat";
    }

    .btn-visita {
      outline: none;
      border: none;
      background-color: transparent;
      color: black;
      font-family: "Montserrat";
      padding: 10px;

      text-transform: uppercase;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;

      transition: all 0.43s;

      &:hover {
        // opacity: 0.5;
        background-color: #f1f1f1;
      }
    }
  }
}
